.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__footer {
  margin-top: 16px;

  form {
    display: grid;
    gap: 16px;

    label {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        outline: none;
        border: 2px solid black;
        padding: 7px 10px;
      }
    }
  }

  .modal__footer_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .modal__footer__flex_exp {
      display: flex;
      gap: 10px;

      input {
        width: 40px;
      }
    }

    .modal__footer__flex_code {
      background-color: #e0e0e0;
      padding: 10px;

      input {
        width: 50px;
      }
    }
  }
}
