@import url("/static/fonts/bold/style.css");
@import url("/static/fonts/roman/style.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

img {
  position: unset !important;
}

#container {
  width: 95%;
  max-width: 1280px;
  margin: 26px auto;
}

.owl-carousel {
  margin-top: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#global__loader {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  z-index: 99999;
  background: #fff;
}

#body__overflow_hidden {
  overflow: hidden;
}

#global__loader h1 {
  font-size: 50px;
  animation: show 1s infinite;
}

@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
