.login {
  .login__content {
    .login__content_card {
      width: fit-content;
      background-color: #efefef;
      display: grid;
      gap: 16px;
      text-align: center;
      margin: 26px auto;
      padding: 20px;
    }
  }
}
