.profile__wrapper__right_content {
  display: grid;
  gap: 16px;

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    label {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        outline: none;
        border: 2px solid black;
        padding: 7px 10px;
      }
    }

    .profile__wrapper__right__content_avatar {
      display: flex;
      gap: 20px;
      grid-column: 1 / 3;

      div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        label {
          cursor: pointer;

          input[type='file'] {
            display: none;
          }
        }
      }
    }

    .profile__wrapper__right__content_buttons {
      display: flex;
      gap: 10px;
    }
  }
}

@media (max-width: 500px) {
  .profile__wrapper__right_content {
    b,
    p {
      display: none;
    }

    form {
      grid-template-columns: 1fr;

      .profile__wrapper__right__content_avatar {
        display: none;
      }
    }
  }
}
