.filter {
  .filter__top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    button {
      font-weight: 700;
      border-radius: 10px;
      background-color: #f8f8f8;
      padding: 0 20px;
    }
  }

  .filter__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
  }
}

@media (max-width: 500px) {
  .filter .filter__top {
    grid-template-columns: repeat(2, 1fr);

    button {
      padding: 10px 0;
    }
  }
}
